<mat-card>
    <h1>Student-form</h1>
    <form #studentform="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="mathAveGrade"
                [(ngModel)] = "mathAveGrade"
                name = "mathAveGrade"
                type="number"
                required>
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="psiAveGrade"
                    [(ngModel)] = "psiAveGrade"
                    name = "psiAveGrade"
                    type="number"
                    required>
        </mat-form-field>
      </p>  
      <p>
        <mat-form-field appearance="fill">
            <mat-label>Paid</mat-label>
            <select matNativeControl required
            [(ngModel)] = "paid"
            name = "paid">
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" *ngIf = "dropRes">
            <mat-label>Drop</mat-label>
            <select matNativeControl required
            [(ngModel)] = "dropRes"
            name = "res">
              <option value="Will not drop">Will not drop</option>
              <option value="Will drop">Will drop</option>
            </select>
          </mat-form-field>
      </p>
      <div >
        <button mat-raised-button  *ngIf = "!dropRes" [disabled]="!studentform.form.valid&&!res" (click) = "predict(mathAveGrade,psiAveGrade,paid)">predict</button>
    </div>
    <button 
          *ngIf = "dropRes"
          mat-raised-button
          color="primary"
          (click) = "dropRes = null"
        >
          Cancel
        </button> 
        <button 
          *ngIf = "dropRes"
          mat-raised-button
          (click) = "onSubmit()"
        >
          Save
        </button>                           
      </div>
    </form>
    </mat-card>