<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf = "(auth.getUser() | async)">Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(auth.getUser() | async)">
       <!-- <a mat-list-item routerLink="/login" routerLinkActive="active">Login</a> -->
      <a mat-list-item routerLink="/student-form"routerLinkActive="active">Student-form</a>
      <a mat-list-item routerLink="/students"routerLinkActive="active">Students</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hello </span>
      <span class="spacer"></span>
      <a class="whitelink" routerLink="/sign-up"  *ngIf = "!(auth.getUser() | async)">Sign-Up</a>
      <a class="whitelink" routerLink="/login" *ngIf = "!(auth.getUser() | async)">Login</a>
      <a class="whitelink1" (click) = "auth.logout()" *ngIf = "(auth.getUser() | async)">LogOut</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

