<mat-card>
    <h1>Sign-Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example:you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
            </mat-form-field>
            <mat-error *ngIf = "isError">
                {{errorMessage}}
              </mat-error>
          </p>                                       
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign-Up
            </button>
        </div>
      </div>
    </form>
   </mat-card>


