
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.user}}</span> 
        </td>
      </ng-container>
    
      <!-- Years Column -->
      <ng-container matColumnDef="mathAveGrade">
        <th mat-header-cell *matHeaderCellDef> Math Grade </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.mathAveGrade}}</span>       
        </td>
      </ng-container>
    
      <!-- Income Column -->
      <ng-container matColumnDef="psiAveGrade">
        <th mat-header-cell *matHeaderCellDef> Psy Grade </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.psiAveGrade}}</span>        
        </td>
      </ng-container>

        <!-- Income Column -->
        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef> Paid </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.paid}}</span>        
          </td>
        </ng-container>
              <!-- Income Column -->
      <ng-container matColumnDef="res">
        <th mat-header-cell *matHeaderCellDef> res </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.dropRes}}</span>        
        </td>
      </ng-container>
  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'warn'
            (click) = "deleteStudent(i)"
          >
            Delete
          </button>                  
        </td>
      </ng-container>    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>